.site-footer {
  display: none;
}

.btn-orange {
  background-color: #f88d5b;
  color: white;
  &:hover {
    background-color: darken(#f88d5b, 5%);
    color: white;
  }
}

.main-content h2 + .label,
.main-content h3 + .label,
.main-content h4 + .label {
  margin-top: 1em;
}

.main-content .label + .label {
  margin-left: 0;
}

.mt-0 {
  margin-top: 0;
}
