<hr />
<h3 id="metodos">Métodos</h3>

<table>
  <tr>
    <th>Método</th>
    <th>Descrição</th>
  </tr>
  {% for method in include.methods %}
  <tr>
    <td><code>{{method['Método']}}</code></td>
    <td>{{method['Descrição']}}</td>
  </tr>
  {% endfor %}
</table>
