<hr />
<h3 id="classes">Classes</h3>

<table>
  <tr>
    <th>Classe</th>
    <th>Descrição</th>
  </tr>
  {% for class in include.classes %}
  <tr>
    <td><code>{{class['Classe']}}</code></td>
    <td>{{class['Descrição']}}</td>
  </tr>
  {% endfor %}
</table>
