<hr />
<h3 id="parametros">Parâmetros</h3>

<table>
  <tr>
    <th>Parâmetro</th>
    <th>Default</th>
    <th>Obrigatório</th>
    <th>Opções</th>
    <th>Descrição</th>
  </tr>
  {% for row in include.params %}
  <tr>
    <td><code>{{row['Parâmetro']}}</code></td>
    <td>{{row['Default']}}</td>
    <td>{% if row['Obrigatório'] %}Sim{% else %}Não{% endif %}</td>
    <td>
      {% for option in row['Opções'] %}
      <code>{{option}}</code>{% unless forloop.last %}<br />{% endunless%} {%
      endfor %}
    </td>
    <td>{{row['Descrição']}}</td>
  </tr>
  {% endfor %}
</table>
